<div class="container-fluid">

  <div class="main-nav w-100 d-flex justify-content-between align-items-center">

  
    <div class="left-side d-flex h-100">

      <div class="logo-side d-flex align-items-center justify-content-center h-100">
        <img
          class="logo-icon"
          src="assets/icon/SabayShop.png"
          alt="Sabay Shop"
        />
      </div>

    
      <div class="search desktop-search d-flex align-items-center justify-content-center">

        <div class="input-group custom-search-group">

          <button
            class="btn custom-dropdown-btn dropdown-toggle cetegory-dropdown"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="categoryBtn"
          > 
            All productsss
          </button>

          <div class="dropdown-menu custom-dropdown-menu shadow-sm">

            <div class="mb-2">
              <input
                type="text"
                class="form-control"
                id="dropdownSearchInput"
                placeholder="Filter category..."
              />
            </div>

            <ul class="list-unstyled mb-0" id="categoryList">

              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="All categories"
                >
                  All categories
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="Computers Accessories"
                >
                  Computers Accessories
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="Cell Phones"
                >
                  Cell Phones
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="Gaming Gatgets"
                >
                  Gaming Gatgets
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="Smart watches"
                >
                  Smart watches
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="Wired Headphone"
                >
                  Wired Headphone
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-value="Mouse Keyboard"
                >
                  Mouse Keyboard
                </a>
              </li>

            </ul>
          </div>

          <span class="input-group-text input-group-text-divider">
            |
          </span>

          <input
            type="text"
            class="form-control custom-search-input"
            placeholder="Search for items"
            aria-label="Search for items"
          />

        </div>
      </div>

    </div>



    <div class="center-side desktop-navigation h-100 d-flex align-items-center">

      <nav class="navbar navbar-expand">

        <ul class="navbar-nav gap-3 hover-dropdown-menu">

          <!-- Home -->
          <li class="nav-item hover-dropdown">

            <a class="nav-link fw-semibold " href="#">
              Home
            </a>

          
          </li>


      
          <li class="nav-item hover-dropdown">

            <a class="nav-link fw-semibold dropdown-toggle" href="#">
              Shop
            </a>

            <ul class="dropdown-menu shadow-sm">

              <li>
                <a class="dropdown-item" href="#">
                 SmartPhone
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="#">
                  Televesion
                </a>
              </li>

              
              <li>
                <a class="dropdown-item" href="#">
                  PlayStation
                </a>
              </li>

              
              <li>
                <a class="dropdown-item" href="#">
                  Iphone
                </a>
              </li>

               <li>
                <a class="dropdown-item" href="#">
                  Macbook
                </a>
              </li>

                <li>
                <a class="dropdown-item" href="#">
                  Imac
                </a>
              </li>

            </ul>

          </li>


          <li class="nav-item hover-dropdown">

            <a class="nav-link fw-semibold dropdown-toggle" href="#">
              Vendors
            </a>

            <ul class="dropdown-menu shadow-sm">

              <li>
                <a class="dropdown-item" href="#">
                  Vendor List
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="#">
                  Vendor Details
                </a>
              </li>

                <li>
                <a class="dropdown-item" href="#">
                  Register as seller
                </a>
              </li>
            </ul>

          </li>


      
          <li class="nav-item hover-dropdown">

            <a class="nav-link fw-semibold dropdown-toggle" href="#">
              Pages
            </a>

            <ul class="dropdown-menu shadow-sm">

              <li>
                <a class="dropdown-item" href="#">
                  About Us
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="#">
                  Contact
                </a>
              </li>

            </ul>

          </li>

          <li class="nav-item">

            <a class="nav-link fw-semibold" href="#">
              Contact Us
            </a>

          </li>

        </ul>

      </nav>

    </div>



    <div class="right-side desktop-actions h-100 d-flex justify-content-center align-items-center">

      <div class="social d-flex gap-3">

        <div class="account d-flex justify-content-center align-items-center flex-row gap-2 pe-3">

          <i class="fa-solid fa-user"></i>

          <div class="txt">
            Account
          </div>

        </div>


        <div class="whislist d-flex justify-content-center align-items-center flex-row gap-2 pe-3">

          <i class="fa-solid fa-heart"></i>

          <div class="txt">
            Whishlist
          </div>

        </div>


        <div class="cart d-flex justify-content-center align-items-center flex-row gap-2">

          <i class="fa-solid fa-shopping-cart"></i>

          <div class="txt">
            Cart
          </div>

        </div>

      </div>

    </div>

    <div class="mobile-actions align-items-center">

  
      <a
        href="#"
        class="mobile-cart"
        aria-label="Cart"
      >
        <i class="fa-solid fa-shopping-cart"></i>
      </a>


   
      <button
        type="button"
        class="mobile-menu-btn"
        data-bs-toggle="offcanvas"
        data-bs-target="#mobileOffcanvas"
        aria-controls="mobileOffcanvas"
        aria-label="Open menu"
      >
        <i class="fa-solid fa-bars"></i>
      </button>

    </div>

  </div>

</div>

<div
  class="offcanvas offcanvas-end mobile-offcanvas"
  tabindex="-1"
  id="mobileOffcanvas"
  aria-labelledby="mobileOffcanvasLabel"
>

  <div class="offcanvas-header">

    <div class="mobile-brand d-flex align-items-center gap-2">

      <img
        src="/assets/icon/SabayShop.png"
        alt="Sabay Shop"
      />

      <h5
        class="offcanvas-title mb-0"
        id="mobileOffcanvasLabel"
      >
        Sabay Shop
      </h5>

    </div>


    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>

  </div>


  
  <div class="offcanvas-body">

   
    <div class="mobile-search mb-4">

      <div class="input-group">

        <input
          type="text"
          class="form-control"
          placeholder="Search for items"
        />

        <button
          class="btn mobile-search-btn"
          type="button"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

      </div>

    </div>



    <nav class="mobile-navigation">

      <ul class="list-unstyled">

        
        <li>

          <a href="#" class="mobile-nav-link">
            Home
          </a>

          <ul class="mobile-submenu list-unstyled">

            <li>
              <a href="#">Homepage - 1</a>
            </li>

            <li>
              <a href="#">Homepage - 2</a>
            </li>

            <li>
              <a href="#">Homepage - 3</a>
            </li>

            <li>
              <a href="#">Homepage - 4</a>
            </li>

          </ul>

        </li>


      
        <li>

          <a href="#" class="mobile-nav-link">
            Shop
          </a>

          <ul class="mobile-submenu list-unstyled">

            <li>
              <a href="#">Shop Grid</a>
            </li>

            <li>
              <a href="#">Shop List</a>
            </li>

          </ul>

        </li>


        
        <li>

          <a href="#" class="mobile-nav-link">
            Vendors
          </a>

          <ul class="mobile-submenu list-unstyled">

            <li>
              <a href="#">Vendor List</a>
            </li>

            <li>
              <a href="#">Vendor Details</a>
            </li>

          </ul>

        </li>


        
        <li>

          <a href="#" class="mobile-nav-link">
            Pages
          </a>

          <ul class="mobile-submenu list-unstyled">

            <li>
              <a href="#">About Us</a>
            </li>

            <li>
              <a href="#">Contact</a>
            </li>

          </ul>

        </li>


 
        <li>

          <a href="#" class="mobile-nav-link">
            Blog
          </a>

          <ul class="mobile-submenu list-unstyled">

            <li>
              <a href="#">Blog Grid</a>
            </li>

            <li>
              <a href="#">Blog Post</a>
            </li>

          </ul>

        </li>


      
        <li>

          <a href="#" class="mobile-nav-link">
            Contact Us
          </a>

        </li>

      </ul>

    </nav>


    <hr>



    <div class="mobile-account-links">

      <a href="#">
        <i class="fa-solid fa-user"></i>
        <span>Account</span>
      </a>

      <a href="#">
        <i class="fa-solid fa-heart"></i>
        <span>Wishlist</span>
      </a>

      <a href="#">
        <i class="fa-solid fa-layer-group"></i>
        <span>Categories</span>
      </a>

    </div>

  </div>

</div>