<aside class="sidebar-container">
  <div class="icon-list">
  
    @for (category of categories; track category.id) {
      <div class="icon-item">

        <button class="icon-btn" [attr.aria-label]="category.title">
          <i [class]="category.icon"></i>
        </button>
    
        
     
        <div class="flyout-panel">
          <h4 class="flyout-title">{{ category.title }}</h4>
          <ul class="flyout-list">
          
            @for (item of category.subitem; track item.id) {
              <li>
                <a href='#' class="flyout-link">
                  {{ item.label}}
                </a>
              </li>
           
            } @empty {
              <li class="empty-item">No sub-categories</li>
            }
          </ul>
        </div>
      </div>

      

    
    } @empty {
      <div class="no-data">No categories available</div>
    }

    
  </div>
</aside>


