<section class="container-fluid container-xl py-4 px-3 px-md-4">
  <div class="mb-4">
    <h2 class="section-title fw-bold title-color mb-1">Featured Categories</h2>
    <p class="section-sub text-muted-blue mb-0">
      Choose your necessary products from this feature categories.
    </p>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-3 g-md-4">
    @for (cat of featureData; track cat.id) {
      <div class="col">
        <div class="card category-card h-100 position-relative">
          <div class="card-body d-flex gap-3 pb-5">
            <div class="category-img shrink-0 d-flex justify-content-center pt-2">
              <img [src]="cat.image" [alt]="cat.title_name" class="img-fluid" />
            </div>

            <div class="min-w-0">
              <h3 class="h6 fw-bold title-color mb-3">{{ cat.title_name }}</h3>
              <ul class="list-unstyled mb-0">
                @for (sub of cat.sub_category; track sub.id) {
                  <li class="sub-item d-flex align-items-center gap-2 mb-2">
                    <a href="#" class="text-decoration-none text-muted-blue">{{
                      sub.title_label
                    }}</a>
                  </li>
                }
              </ul>
            </div>
          </div>

          <a href="#" class="view-all position-absolute bottom-0 end-0 text-decoration-none">
            View all
          </a>
        </div>
      </div>
    }
  </div>
</section>

<div class="container px-md-4 child-banner d-flex">
  <div class="child-card d-flex">
    
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="promo-card">
        <img src="/assets/image/category-img/Phone_ad.png" alt="iPhone 12 Pro 128Gb" />
        <a href="#" class="learn-link pos-iphone">LEARN MORE <span class="arrow"></span></a>
      </div>
    </div>

  
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="promo-card">
        <img src="/assets/image/category-img/TV-ad.png" alt="Samsung 2022 Led TV" />
        <a href="#" class="learn-btn pos-tv">learn more <span class="arrow"></span></a>
      </div>
    </div>

    <div class="col-12 col-lg-5">
      <div class="promo-card">
        <img src="/assets/image/category-img/drone-ad.png" alt="DJI Air 2S Drone" />
        <a href="#" class="learn-btn pos-drone">learn more <span class="arrow"></span></a>
      </div>
    </div>

  </div>

  </div>
